h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

h1 {
    color: green;
}

.col, .col-sm {
    border: 1px solid black;
    background-color: grey;
}

a {
    color: black;
}
main:before {
    content: "Mobile First";
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    main:before {
        content: "Mobile Small devices";
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    main:before {
        content: "Mobile Medium devices";
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    main:before {
        content: "Mobile Large devices";
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    main:before {
        content: "Computer";    
    }
}

footer {
    margin: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}

ul, ol {
    list-style: none;
}

.box {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row div[class^="col"]{
    border: 1px solid #333;
    background-color: #DDD;
    padding: 20 px;
}

